{% extends 'base.html' %}
{% block content %}
<h1>Puppies List</h1>
{% for puppy in puppies %}
    <div class="card">
        <div class="card-content">
            <span class = "card-title">{{ puppy.name }}</span>
            <p>Breed: {{ puppy.breed }}</p>
            <p>Description: {{ puppy.description }}</p>
            {% if puppy.age > 0 %}
            <p>Age: {{ puppy.age }}</p>
            {% else %}
            <p>Age: Puppy</p>
            {% endif %}
            <!-- Edit / Update Links -->
            <div class = "card-action">
                <a href="{% url 'puppies_update' puppy.id %}">Edit</a>
                <a href="{% url 'puppies_delete' puppy.id %}">Delete</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}